.custom-button {
    background-color: #1C3D63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:hover {
    background-color: #0056b3;
}

.theme-toggle-icon {
    font-size: 24px;
}

/* Dark Theme */
body.dark {
    background-color: #fff;
    color: #1C3D63;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}

.custom-button i {
    margin-right: 5px; /* Adjust the margin as needed for spacing */
}

/* Add a glowing effect to the image */
.glowing-effect {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 5px #fff);
    }
    to {
        filter: drop-shadow(0 0 20px #070230);
    }
}

@keyframes stars {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}