{{ define "about-btn" }}
<div class="nav-card">
  <a href="/about" class="nav-link">
    <span class="tooltip-text">Check out some projects I've done</span>
    <i class="fas fa-user nav-icon"></i>
    <span class="nav-label">About Me</span>
  </a>
</div>
{{ end }}