{{ template "base" . }}
<!DOCTYPE html>
<html lang="en">
<body>
  <div class="min-h-screen flex flex-col justify-center items-center px-4">
    <div class="w-full max-w-3xl rounded-xl p-2 mt-2 mb-4 flex flex-col items-center">
      {{ template "intro" . }}
      {{ template "lkn-btn" . }}
      {{ template "tech" . }}
      {{ template "companies" . }}
    </div>
    <div class="w-full flex justify-center mt-auto mb-8">
      {{ template "footer_home" . }}
    </div>
  </div>
  <script src="/static/components/theme.js"></script>
</body>
</html>