{{define "certifications"}}
<div>
  <table id="certTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Issuer</th>
        <th>Platform</th>
        <th>Filename</th>
      </tr>
    </thead>
    <tbody id="certTableBody"></tbody>
  </table>
</div>
<script src="/static/components/certifications.js"></script>
{{ end }}