{{ template "base" . }}
<div id="log" class="bg-[#04141d] text-white text-4xl w-full" role="log" aria-live="polite"></div>
<script src="/static/components/chat-widget.js"></script>
<script src="/static/components/theme.js"></script>

