{{define "companies"}}
<div class="mt-4 w-full flex flex-col items-center px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-5xl">
    <!-- Guidehouse -->
    <div class="simple-card group relative">
      <img src="/static/img/gh.png" alt="Guidehouse" class="h-12" />
      <p class="font-bold text-right text-xl">Technical Lead</p>
      <h3 class="card-tooltip glowing-effect">
        Worked in both Analytics + Infrastructure & Software engineering teams to modernize and standarize client cloud infrastructure on AWS & Azure.
      </h3>
    </div>

    <!-- Penn State University -->
    <div class="simple-card group relative">
      <img src="/static/img/psu.png" alt="Penn State University" class="h-12" />
      <p class="font-bold text-right text-xl">Full Stack Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Assisted faculty with AWS ECS service for research tools and student engagement platforms via R.
      </h3>
    </div>

    <!-- Coca Cola FL -->
    <div class="simple-card group relative">
      <img src="/static/img/cc-fl.png" alt="Coca Cola Florida" class="h-12" />
      <p class="font-bold text-right text-xl">R Shiny Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Developed R Shiny app to integrate real-time ML of future customer revenue by merchant on Azure.
      </h3>
    </div>

    <!-- CNN -->
    <div class="simple-card group relative">
      <img src="/static/img/cnn.png" alt="CNN" class="h-12" />
      <p class="font-bold text-right text-xl">R Programmer</p>
      <h3 class="card-tooltip glowing-effect">
        Automated reporting taking weeks into minutes with R Notebooks & Shiny, in AWS with Snowflake & Docker.
      </h3>
    </div>

    <!-- Ovintiv -->
    <div class="simple-card group relative">
      <img src="/static/img/ovintiv.png" alt="Ovintiv" class="h-12" />
      <p class="font-bold text-right text-xl">R Shiny Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Improved R Shiny oil drilling dashboard to visualize real-time performance using leaflet & Plotly on prem.
      </h3>
    </div>

    <!-- TSYS -->
    <div class="simple-card group relative">
      <img src="/static/img/tsys.png" alt="TSYS" class="h-12" />
      <p class="font-bold text-right text-xl">Sr. Market Research Analyst</p>
      <h3 class="card-tooltip glowing-effect">
        Conducted market research in merchant space including competitive analysis for $1.5M acquisition.
      </p>
    </div>
  </div>
</div>
{{ end }}