{{define "companies"}}
<div class="mt-4 w-full flex flex-col items-center px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-5xl">
  <!-- Majestic Coding -->
    <div class="simple-card group relative">
      <img src="https://avatars.githubusercontent.com/u/33904170?v=4" alt="Majestic Coding" class="h-12" />
      <p class="font-bold text-right text-xl">Technical Consultant</p>
      <h3 class="card-tooltip glowing-effect">
        Contracts under LLC with a variety of coding and consulting primarily on cloud infrastructure & ETL in AWS or Azure.
      </h3>
    </div>
    <!-- Guidehouse -->
    <div class="simple-card group relative">
      <img src="/static/img/gh.png" alt="Guidehouse" class="h-12" />
      <p class="font-bold text-right text-xl">Technical Lead</p>
      <h3 class="card-tooltip glowing-effect">
        Worked in both Analytics + Infrastructure & Software engineering teams to modernize and standarize client cloud infrastructure on AWS & Azure.
      </h3>
    </div>

    <!-- Penn State University -->
    <div class="simple-card group relative">
      <img src="/static/img/psu.png" alt="Penn State University" class="h-12" />
      <p class="font-bold text-right text-xl">Full Stack Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Assisted faculty with AWS ECS service for research tools and student engagement platforms via R.
      </h3>
    </div>

    <!-- Coca Cola FL -->
    <div class="simple-card group relative">
      <img src="/static/img/cc-fl.png" alt="Coca Cola FL" class="h-12" />
      <p class="font-bold text-right text-xl">R Shiny Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Developed R Shiny app to integrate real-time ML of future customer revenue by merchant on Azure.
      </h3>
    </div>

    <!-- CNN -->
    <div class="simple-card group relative">
      <img src="/static/img/cnn.png" alt="CNN" class="h-12" />
      <p class="font-bold text-right text-xl">R Programmer</p>
      <h3 class="card-tooltip glowing-effect">
        Automated reporting taking weeks into minutes with R Notebooks & Shiny, in AWS with Snowflake & Docker.
      </h3>
    </div>
    <!-- Ovintiv -->
    <div class="simple-card group relative">
      <img src="/static/img/ovintiv.png" alt="Ovintiv" class="h-12" />
      <p class="font-bold text-right text-xl">R Shiny Developer</p>
      <h3 class="card-tooltip glowing-effect">
        Coded updates to legacy R Shiny applications for petroleum engineers.
      </h3>
    </div>
  </div>
</div>
{{ end }}