{{ define "dash-btn" }}
<div class="nav-card">
  <a href="/dashboard" class="nav-link">
    <span class="tooltip-text">App Metrics</span>
    <i class="fas fa-tachometer-alt nav-icon"></i>
    <span class="nav-label">Dashboard</span>
  </a>
</div>
{{ end }}