{{ define "dash-btn" }}
<a href="/dashboard" id="dash-btn" class="custom-button glowing-effect flex items-center space-x-2">
  <span class="tooltip-text">View App Dashboard</span>
  <i class="fas fa-tachometer-alt"></i>
  <span>Dashboard</span>
</a>
{{ end }}