{{ define "docs-btn" }}
<div class="nav-card">
  <a href="/docs" class="nav-link">
    <span class="tooltip-text">Learn about this Infrastructure in Go</span>
    <i class="fas fa-book nav-icon"></i>
    <span class="nav-label">Docs</span>
  </a>
</div>
{{ end }}