{{ define "docs-btn" }}
<div class="relative group">
  <a href="/docs" class="custom-button glowing-effect font-bold text-md">
    <span class="tooltip-text font-bold text-md">Learn about this Infrastructure in Go</span>
    <i class="fas fa-book font-bold text-md"></i> Docs
  </a>
</div>
{{ end }}