{{define "education"}}
<div class="mt-8 w-full flex flex-col items-center px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 w-full max-w-xl justify-center">
    <!-- Berry College -->
    <div class="p-3 max-w-xs w-full flex flex-col items-center">
      <img src="/static/img/berry.png" alt="Berry College" class="h-20 mb-2" />
      <p class="font-bold text-xl text-center">BS in Psychology</p>
      <p class="card-tooltip glowing-effect text-center mt-2" style="font-size:1em;">
        Minored in History. NCAA Div III Men's Soccer, 4 years.
      </p>
    </div>
    <!-- Clemson University -->
    <div class="p-3 max-w-xs w-full flex flex-col items-center">
      <img src="/static/img/clemson.png" alt="Clemson University" class="h-20 mb-2" />
      <p class="font-bold text-xl text-center">MS in Market Research</p>
      <p class="card-tooltip glowing-effect text-center mt-2" style="font-size:1em;">
        Created & analyzed surveys in SPSS to find significant insights. Presented research on Life History Theory.
      </p>
    </div>
  </div>
</div>
{{ end }}