
{{ define "email-btn" }}
<div class="icon-widget">
  <a href="mailto:matt@majesticcoding.com" class="icon-widget-link">
    <span class="tooltip-text">Email Me</span>
    <i class="fas fa-envelope nav-icon"></i>
  </a>
</div>
{{ end }}