{{ template "base" . }}

<body style="background: transparent; margin: 0; padding: 0;">
    <div class="epl-widget">
        <div id="content" class="loading">
            Loading matches...
        </div>
    </div>

    <script src="/static/components/epl.js"></script>
</body>