{{ define "footer_home" }}
<footer class="text-center text-gray-500 text-sm mt-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="header-content" class="flex justify-center w-full space-x-4">
        {{ template "theme" . }}
        {{ template "home" . }}
        {{ template "email-btn" . }}
        
    </div>
</footer>
{{ end }}