{{ define "footer_stream" }}
<footer class="w-4/5 text-gray-400 text-sm mt-8 mx-auto">
  <div class="flex justify-center space-x-4">
    {{ template "theme" . }}
    {{ template "home" . }}
    {{ template "email-btn" . }}
  </div>
</footer>
{{ end }}
