{{ define "footer_stream" }}
<footer class="w-3/4 text-gray-400 text-sm mt-8">
  <div class="w-3/4 mx-auto flex justify-center space-x-4">
    {{ template "theme" . }}
    {{ template "home" . }}
    {{ template "email-btn" . }}
  </div>
</footer>
{{ end }}
