{{ define "footer_chat" }}
<div class="text-md text-white p-2 flex items-center gap-8 justify-between w-full">
    <span class="flex items-center gap-2">
      <i class="fas fa-user"></i>
      <span id="user-count">0</span>
      <span id="user-count-label">Chatters</span>
    </span>
    <span class="text-gray-400 text-xs">🔌 Run via Websockets</span>
  </div>
</div>
{{ end }}