{{template "base" .}}

<!DOCTYPE html>
<html lang="en">
<body>
<div class="globe-container">
  <div id="globe"></div>
</div>

<script src="https://unpkg.com/globe.gl"></script>
<script src="/static/components/globe.js"></script>
</body>
</html>