{{template "base" .}}

<body style="background: transparent; margin: 0; padding: 0;">
<div class="globe-container">
  <div id="globe"></div>
</div>

<script src="https://unpkg.com/globe.gl"></script>
<script src="/static/components/globe.js"></script>
</body>