{{ template "base" . }}

{{define "home" }}
<div>
  <a href="/" class="custom-button glowing-effect flex items-center justify-center">
    <i id="home-icon" class="fas fa-home home-icon"></i>
  </a>
</div>
{{ end }}