{{ template "base" . }}

{{define "home" }}
<div class="icon-widget">
  <a href="/" class="icon-widget-link">
    <span class="tooltip-text">Go to Home Page</span>
    <i id="home-icon" class="fas fa-home nav-icon"></i>
  </a>
</div>
{{ end }}