{{ template "base" . }}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="min-h-screen flex flex-col pb-20">
        <!-- Main content -->
        <main class="flex-1 flex flex-col items-center justify-center space-y-4 px-4 py-8">
            {{ template "booting" . }}

            <div class="flex items-center justify-center gap-4 md:gap-8 flex-col md:flex-row">
                <img src="https://avatars.githubusercontent.com/u/33904170?v=4"
                     alt="Majestic Coding Logo"
                     class="w-32 h-32 md:w-48 md:h-48 glowing-effect rounded-full border-4 border-gray-800 shadow-lg" />

                {{ template "terminal" . }}
            </div>

            <div class="my-6 md:my-10"></div>
            <div class="flex justify-center">
              <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
                {{ template "about-btn" . }}
                {{ template "docs-btn" . }}
                {{ template "live-btn" . }}
              </div>
            </div>
            <div class="mb-4 space-y-2">
                {{ template "socials" . }}
            </div>
        </main>

        <!-- Stats section -->
        {{ template "stats" . }}

        <!-- Footer -->
        {{ template "footer" . }}
    </div>

    <script src="/static/components/theme.js"></script>
    <script src="/static/components/booting.js"></script>
    <script src="/static/components/index-typing.js"></script>
</body>
</html>