
{{ template "base" . }}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="flex flex-col items-center justify-center mt-40 space-y-4">
        {{ template "booting" . }}
        <img src="https://avatars.githubusercontent.com/u/33904170?v=4" alt="Majestic Coding Logo" class="w-48 h-48 mb-4 glowing-effect" />
         
        <div class="mb-4 space-y-2">
            {{ template "socials" . }}
        </div>

        <div class="flex items-center space-x-2">
          {{ template "live-btn" . }}
        </div>
        <div class="flex items-center space-x-2">
          {{ template "dash-btn" . }}
        </div>

        <div class="grid grid-cols-2 gap-2">
          {{ template "docs-btn" . }}
          {{ template "about-btn" . }}
        </div>

    </div>

    {{ template "stats" . }}
    <script src="/static/components/theme.js"></script>
    <script src="/static/components/booting.js"></script>
    {{ template "footer" . }}
</body>
</html>