{{ define "intro"}} 
<div class="w-full max-w-2xl mx-auto mb-4">
  <h1 class="text-4xl font-bold mb-4 text-center">👋 from Matt of Majestic Coding</h1>
  <h1 class="project-title"><span id="type-line-1"></span></h1>
  <h1 class="project-title"><span id="type-line-2"></span></h1>
  <h1 class="project-title"><span id="type-line-3"></span></h1>
</div>
{{ end }}