{{ define "intro"}} 
<div class="w-full max-w-2xl mx-automb-2 mb-4">
  <h1 class="text-4xl font-bold mb-4 text-center ">👋 I'm Matt of Majestic Coding</h1>
  <h1 class="project-title">
    Full stack developer with a background in psychology, blending analytical thinking with creative problem-solving.
  </h1>
  <h1 class="project-title">
    Started in market research, lived in Excel, moved into data science with R/Python, and now build scalable web apps like this with Go & Docker.
  </h1>
  <h1 class="project-title">
    I enjoy building efficient applications to help businesses run smarter and smoother.  Feel free to reach out!
  </h1>
</div>
{{ end }}