{{ define "intro"}} 
<div class="w-full max-w-2xl mx-auto text-center mb-2">
  <h1 class="text-4xl font-bold mb-4 text-blue-200">👋 I'm Matt of Majestic Coding </h1>
  <h1 class="text-lg font-semibold leading-relaxed">
    I'm a full stack developer with a background in psychology, blending analytical thinking with creative problem-solving. My career began as a market research analyst, where I learned to uncover insights from complex data. Driven by curiosity, I transitioned into data science using R and Python, building models and visualizations to make sense of the numbers. Over time, my passion for building scalable solutions led me to full stack development, and today I architect and code modern web apps like this Golang powered platform integrating everything from backend APIs to interactive frontends. I love working at the intersection of data, design, and technology to create tools that empower people and organizations.
  </h1>
</div>

{{ end }}
