{{ template "base" . }}

<div class="lava-lamp-page">
    <div class="lava-lamp-wrapper">
        <div class="lava-lamp-top"></div>
        <div class="lava-lamp-container">
            <div class="lava-lamp-glass">
                <div class="lava-blob blob1"></div>
                <div class="lava-blob blob2"></div>
                <div class="lava-blob blob3"></div>
                <div class="lava-blob blob4"></div>
            </div>
            <div class="lava-lamp-highlight"></div>
        </div>
        <div class="lava-lamp-base">
            <div class="base-ring"></div>
            <div class="base-bottom"></div>
            <div class="power-indicator"></div>
        </div>
    </div>
</div>