{{ define "live-btn" }}
<div class="nav-card">
  <a href="/live" class="nav-link">
    <span class="tooltip-text">Chat with Websockets</span>
    <i class="fas fa-broadcast-tower nav-icon"></i>
    <span class="nav-label">Live</span>
  </a>
</div>
{{ end }}