{{ define "live-btn" }}
<div class="relative group inline-block">
  <a id="live-btn" href="/live" class="w-[14rem] flex justify-center items-center gap-2 px-4 py-2 rounded bg-gray-700 text-gray-200 hover:bg-gray-600 font-bold text-lg transition-colors">
    <i class="fas fa-broadcast-tower font-bold text-xl"></i><span>Live Stream & Chat</span>
  </a>
</div>
<script src="/static/components/live.js"></script>
{{ end }}
