{{ define "live-btn" }}
<div class="relative group inline-block">
  <a href="/live"
     class="custom-button w-[14rem] flex bg-gray-700 justify-center items-center gap-2 px-4 py-2 rounded font-semibold bg-gray-700 text-gray-200 hover:bg-gray-600">
    <i class="fas fa-broadcast-tower"></i><span>Live</span>
    <span class="tooltip-text absolute left-1/2 -translate-x-1/2 mt-2 px-2 py-1 rounded bg-gray-700 text-white text-xs opacity-0 group-hover:opacity-100 transition z-10 whitespace-nowrap">
      Visit Live Stream & Chat
    </span>
  </a>
</div>
{{ end }}