{{define "lkn-btn" }}
<div class="icon-widget">
  <a href="https://www.linkedin.com/in/matthew-majestic/" 
     id="lkn-btn" 
     class="icon-widget-link"
     target="_blank" rel="noopener noreferrer">
    <span class="tooltip-text">View Projects on LinkedIn</span>
    <i class="fab fa-linkedin nav-icon"></i>
  </a>
</div>
{{ end }}