{{ define "metrics" }}
<section class="flex flex-row gap-8 w-full">
  <div class="flex-1 flex flex-col items-center rounded-xl dark-border-box">
    <h1 class="text-2xl font-bold mb-6">🧑‍💻 System Metrics</h1>
    <div id="metrics-spinner-container" class="flex items-center text-bold mb-4 text-md">
      <span class="inline-block w-5 h-5 mr-2 animate-spin border-2 border-t-2 border-t-transparent rounded-full"></span>
      <span class="font-mono text-blue-300">Querying Metrics</span>
    </div>
    <table class="metrics-table w-full mx-auto text-2xl">
      <thead>
        <tr>
          <th class="font-bold text-2xl px-4 py-2">Metric</th>
          <th class="font-bold text-2xl px-4 py-2">Value</th>
        </tr>
      </thead>
      <tbody id="system-metrics">
      </tbody>
    </table>
  </div>
  <div class="flex-1 flex flex-col items-center dark-border-box">
    {{ template "socials_json" . }}
  </div>
</section>
{{ end }}