{{ define "prices" }}

<table>
    <thead>
        <tr>
            <th>Provider</th>
            <th>Service</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Basic Plan</td>
            <td>Functionality A</td>
            <td>$10/month</td>
        </tr>
        <tr>
            <td>Pro Plan</td>
            <td>Functionality B</td>
            <td>$20/month</td>
        </tr>
    </tbody>
</table>

{{ end }}