{{ template "base" . }}

{{ define "stream" }}
<div class="px-4 py-4 w-full">
  <div class="w-full max-w-4xl mx-auto items-center">
    <div class="flex justify-center items-center p-4">
      <video
        id="video"
        controls
        autoplay
        playsinline
        class="rounded-xl shadow-xl"
        width="1280"
        height="720"
        style="max-width: 100%; height: auto;"
      ></video>
    </div>
    <div id="offline-message" class="hidden flex flex-col items-center justify-center text-red-500 text-lg text-center">
      <div class="w-full max-w-3xl rounded-xl p-2 mt-2 mb-4 flex flex-col items-center space-y-4">
        <h1 class="stream-typing"><span id="type-line-1"></span></h1>
        <h1 class="stream-typing"><span id="type-line-2"></span></h1>
        <h1 class="stream-typing"><span id="type-line-3"></span></h1>
      </div>
      {{ template "socials" . }}
      <div class="w-full max-w-[500px] mx-auto flex flex-col items-center gap-2 mt-2">
        {{ template "docs-btn" . }}
        {{ template "gallery-btn" . }}
      </div>
    </div>
    <div class="mt-6 flex justify-center">
      <h1 class="flex text-xs font-italics items-center justify-center gap-4 max-w-md">
        <span class="text-lg font-bold">Powered by</span>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg"
             alt="AWS Logo"
             class="h-8 w-auto inline-block"
             style="background: transparent;" />
        <span class="text-lg font-bold">IVS</span>
      </h1>
    </div>
  </div>
  <script>window.TYPING_SECTION = "stream";</script>
  <script src="/static/components/typing.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/static/components/stream.js"></script>

</div>
{{ end }}
