{{ template "base" . }}

{{ define "stream" }}
<div class="px-4 py-4 w-full">
  <h1 class="text-4xl font-bold text-center mb-2">🎥 Live Stream</h1>

  <div class="w-full max-w-[90%] mx-auto items-center">
    <div class="flex justify-center items-center p-4">
      <video
        id="video"
        controls
        autoplay
        playsinline
        class="rounded-xl shadow-xl"
        width="1280"
        height="720"
        style="max-width: 100%; height: auto;"
      ></video>
    </div>

    <div id="offline-message" class="hidden flex flex-col items-center justify-center text-red-500 text-lg text-center">
      <p class="mb-8 text-xl">Currently Offline</p>
      {{ template "socials" . }}
    </div>
  </div>

  <script>
  window.STREAM_NAME = "{{ .STREAMING_KEY }}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/static/components/stream.js"></script>

</div>
{{ end }}
