{{define "tech"}}
<div class="marquee glowing-effect mt-4" id="cloud-marquee" data-speed="40">
  <div class="marquee__content">
    <a class="item" href="https://azure.microsoft.com/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Microsoft_Azure.svg" alt="Microsoft Azure" title="Microsoft Azure">
    </a>
    <a class="item" href="https://aws.amazon.com/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg" alt="Amazon Web Services" title="Amazon Web Services">
    </a>
    <a class="item" href="https://cloud.google.com/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Google_Cloud_logo.svg" alt="Google Cloud Platform" title="Google Cloud Platform">
    </a>
    <a class="item" href="https://go.dev/" target="_blank" rel="noopener">
      <img src="https://raw.githubusercontent.com/golang-samples/gopher-vector/master/gopher.svg" alt="Go" title="Go">
    </a>
    <a class="item" href="https://www.python.org/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python" title="Python">
    </a>
    <a class="item" href="https://www.postgresql.org/" target="_blank" rel="noopener">
      <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="Postgres" title="Postgres">
    </a>
    <a class="item" href="https://www.docker.com/" target="_blank" rel="noopener">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker" title="Docker">
    </a>
  </div>
</div>
<script src="/static/components/tech.js"></script>
{{end}}