{{ template "base" . }}

{{define "theme" }}

<div>

<button id="theme-toggle" class="custom-button glowing-effect">
  <span class="tooltip-text">Switch Theme</span>
  <i id="icon-sun" class="fas fa-sun theme-toggle-icon"></i>
  <i id="icon-moon" class="fas fa-moon theme-toggle-icon hidden"></i>
</button>
</div>
{{ end }} 