{{ template "base" . }}

{{define "theme" }}
<div class="icon-widget">
  <button id="theme-toggle" class="icon-widget-link" style="background: none; border: none; cursor: pointer;">
    <span class="tooltip-text">Switch Theme</span>
    <i id="icon-sun" class="fas fa-sun nav-icon"></i>
    <i id="icon-moon" class="fas fa-moon nav-icon hidden"></i>
  </button>
</div>
{{ end }} 